@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lora:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :activate {
  outline: none;
}

a:focus, a:activate {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, body, button, textarea {
  font-family: "";
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1112px) {
  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.header {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 0 0;
}
@media (min-width: 560px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__list-item {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  margin: 0px 35px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 684px) {
  .header__list-item {
    margin: 0px 20px 0 0;
  }
}
.header__list-item:last-child {
  margin: 0;
}
@media (max-width: 560px) {
  .header__list-item {
    margin: 0px 0px 10px 0;
  }
}
.header__list-item:hover {
  color: #64c29e;
}
@media (max-width: 560px) {
  .header__list-item__dot {
    display: none;
  }
}
.header__logo {
  margin: 0px 65px;
}
@media (max-width: 684px) {
  .header__logo {
    margin: 0px 30px;
  }
}
@media (max-width: 350px) {
  .header__logo {
    margin: 0px 10px;
  }
}
.footer {
  background-color: #f7f7f7;
  padding: 100px 0;
}
@media (max-width: 627px) {
  .footer {
    padding: 50px 0;
  }
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 627px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 627px) {
  .footer__column {
    margin: 0px 0px 30px 0;
  }
}

.column__list {
  text-align: center;
}
.column__social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.column__social__item {
  margin: 0px 12px 0 0;
}
.column__social__item:last-child {
  margin: 0;
}
.column__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.column__copyright__text {
  margin: 0px 10px 0 0;
  font-family: Lato;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.list__item {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  color: #848789;
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}
.list__item-b {
  font-weight: 700;
  font-style: normal;
}

.infoblock {
  background-color: #f7f7f7;
  padding: 120px 0 140px;
}
@media (max-width: 620px) {
  .infoblock {
    padding: 60px 0 70px;
  }
}
.infoblock__body {
  margin: 0 auto;
  text-align: center;
  max-width: 1080px;
}
.infoblock__icon {
  margin: 0px 0px 30px 0px;
}
.infoblock__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
@media (max-width: 432px) {
  .infoblock__title {
    font-size: 15px;
  }
}
.infoblock__text {
  font-family: Lato;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  margin: 35px 0px 0px 0;
}
.infoblock__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #848789;
  margin: 20px 0px 0px 0;
}
.infoblock__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
}
@media (max-width: 1500px) {
  .infoblock__text_j:after {
    margin: 15px auto 0 auto;
  }
}

.brands_rev .brands__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.brands_rev .brands__column_b {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
.brands__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__logo span {
  margin: 15px 0 0 0;
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.brands__body {
  padding: 70px 65px 55px 65px;
}
@media (max-width: 1500px) {
  .brands__body {
    padding: 40px 35px 30px 35px;
  }
}

.brands__content {
  position: relative;
}
.brands__content:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  z-index: 5;
}

.socialblock {
  background-color: #f7f7f7;
  padding: 125px 10px 70px 10px;
  text-align: center;
}
@media (max-width: 708px) {
  .socialblock {
    padding: 50px 10px 35px 10px;
  }
}
.socialblock__content {
  max-width: 1040px;
  margin: 0 auto;
}

.content__icon {
  margin: 0 0 40px 0;
}
.content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 30px 0;
}
.content__name {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.content__divider {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #848789;
  margin: 0px 10px;
}
.content__data {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #848789;
}
.content__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0px 0px 105px 0;
}
@media (max-width: 708px) {
  .content__text {
    margin: 0px 0px 50px 0;
  }
}
@media (max-width: 400px) {
  .content__text {
    font-size: 18px;
    line-height: 30px;
  }
}
.content__dots {
  text-align: center;
}

.dot__item {
  cursor: pointer;
  width: 11px;
  height: 11px;
  border: 1px solid #a9afb3;
  margin: 0 2px;
  background-color: #f7f7f7;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.dot__item:hover {
  background-color: #a9afb3;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.665%;
          flex: 0 1 16.665%;
}
@media (max-width: 1100px) {
  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .shop__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .shop__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.shop__block {
  height: 100%;
}
.block-shop {
  height: 100%;
}
.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}
.block-shop__item_b {
  padding: 0px 0px 200.5% 0px;
}
.block-shop__item_l {
  padding: 0px 0px 100% 0px;
}

.shop__footer {
  background-color: #282f35;
  padding: 75px 0;
}
.shop__container {
  text-align: center;
}
.shop__btn {
  padding: 20px 55px;
  border: 1px solid #fff;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.shop__btn:hover {
  background-color: #8682828f;
}

.connect {
  padding: 110px 0;
  text-align: center;
}
@media (max-width: 450px) {
  .connect {
    padding: 55px 0;
  }
}
.connect__icon {
  margin: 0px 0px 40px 0;
}
.connect__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0px 0px 35px 0;
}
.connect__input {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  margin: 0px 9px 0 0;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px;
  color: #929292;
}
@media (max-width: 450px) {
  .connect__input {
    font-size: 14px;
  }
}
.connect__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #64c29e;
  width: 126px;
  height: 69px;
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}
.connect__button:hover {
  background-color: #18533c;
}

.form__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 20px;
}