@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :activate {
  outline: none;
}

a:focus, a:activate {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, body, button, textarea {
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1058px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

body {
  height: 100%;
  font-family: "Montserrat";
  color: #252b42;
  line-height: 1;
  font-size: 14px;
  background-color: #FAFAFA;
}

.header {
  padding: 40px 0px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 49;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

._container {
  padding: 0 15px;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0px 0 133px;
}
@media (max-width: 1058px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 992.98px) {
  .header__menu {
    margin: 0 0 0 50px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -110%;
    background-color: #fff;
    z-index: 2;
    padding: 50px 10px 20px 10px;
    overflow: auto;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    padding: 90px 0 0 0;
  }
}
.menu__list.active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
}

@media (max-width: 767.98px) {
  .menu__list li {
    text-align: center;
  }
}

.menu__icon {
  display: none;
  position: relative;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  color: #646667;
}
.menu__icon span {
  color: #646667;
}
.menu__icon.active span {
  color: #646667;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.menu__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
  }
}

.menu__icon span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #646667;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}

.menu__item {
  margin: 0px 21px 0px 0px;
}
.menu__item:last-child {
  margin: 0;
}
@media (max-width: 767.98px) {
  .menu__item:last-child {
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
  }
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24/14*100%);
  position: relative;
  cursor: pointer;
  line-height: 20px;
}
.menu__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #737373;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock {
  position: relative;
}

.mainblock__body {
  z-index: 2;
  padding: 184px 0 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 1058px) {
  .mainblock__body {
    padding: 120px 0 191px 0px;
  }
}

.mainblock__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 137%;
  letter-spacing: 0.2px;
  color: #252B42;
}
@media (max-width: 767.98px) {
  .mainblock__title {
    font-size: 42px;
  }
}

.mainblock__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 35px 0;
}
@media (max-width: 767.98px) {
  .mainblock__text {
    color: #403e3e;
  }
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 479.98px) {
  .main-block__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-block__button {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 187px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
}
@media (max-width: 479.98px) {
  .main-block__button:last-child {
    margin: 10px 0px 0px 0px;
  }
}

.bt_first {
  background: #FF7B47;
  border-radius: 37px;
  color: #fff;
  margin: 0px 10px 0px 0px;
  border: 1px solid #FF7B47;
}
.bt_first:hover {
  background: none;
  color: #FF7B47;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bt_second {
  color: #0D5C63;
  border: 1px solid #0D5C63;
  border-radius: 37px;
  position: relative;
}
.bt_second:after {
  content: "";
  width: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #153F43;
  z-index: -1;
  color: #fff;
  border-radius: 37px;
}
.bt_second:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #fff;
}
.bt_second:hover:after {
  left: 0;
  width: 100%;
}

.mainblock__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 479.98px) {
  .mainblock__image img {
    opacity: 0.5;
  }
}

@media (max-width: 1300px) {
  .mainblock__image img {
    -o-object-position: right;
       object-position: right;
  }
}
.page__services {
  margin: -111px 0px 0px 0px;
  position: relative;
  z-index: 5;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 1200px) {
  .services__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 1200px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 340px;
    margin: 0px 0px 20px 0px;
  }
}
.services__column:hover .services__item {
  background-color: #0D5C63;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.services__column:hover .item-service__title {
  color: #fff;
}
.services__column:hover .item-service__text {
  color: #fff;
}
.services__column:hover .item-service__icon svg {
  fill: #fff;
}

.item-service__icon svg {
  fill: #0D5C63;
}

.services__item {
  z-index: 5;
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}

.item-service_green {
  background-color: #0D5C63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.design {
  margin: 80px 0 80px 0;
}
@media (max-width: 767.98px) {
  .design {
    margin: 40px 0 40px 0;
  }
}
@media (max-width: 479.98px) {
  .design {
    margin: 20px 0 20px 0;
  }
}
.design__headerblock {
  max-width: 610px;
  margin: 0 auto;
}

.headerblock {
  max-width: 511px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .headerblock {
    max-width: 400px;
    margin: 0 auto;
  }
}
.headerblock__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}
@media (max-width: 767.98px) {
  .headerblock__title {
    font-size: 32px;
  }
}
@media (max-width: 767.98px) {
  .headerblock__title {
    font-size: 26px;
    line-height: 40px;
  }
}
.headerblock__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 10px 0px 50px 0px;
}
@media (max-width: 992.98px) {
  .headerblock__text {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .headerblock__text {
    font-size: 13px;
    margin: 10px 0px 30px 0px;
  }
}
@media (max-width: 479.98px) {
  .headerblock__text {
    font-size: 13px;
    margin: 10px 0px 20px 0px;
  }
}

.design__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 992.98px) {
  .design__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.design__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 992.98px) {
  .design__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 479.98px) {
  .design__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 20px 0px;
  }
}
.design__item {
  height: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 31px;
  margin: 0px auto;
  max-width: 270px;
}
.item__block_number {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
@media (max-width: 479.98px) {
  .item__block_number {
    font-size: 32px;
  }
}
.item__block_text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
@media (max-width: 992.98px) {
  .item__block_text {
    font-size: 14px;
  }
}

.item__block > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.practice {
  margin: 125px 0px 80px 0px;
}
@media (max-width: 1058px) {
  .practice {
    margin: 60px 0px 60px 0px;
  }
}
@media (max-width: 992.98px) {
  .practice {
    margin: 50px 0px 60px 0px;
  }
}
.practice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 992.98px) {
  .practice__body {
    margin: 0 -10px;
  }
}
@media (max-width: 767.98px) {
  .practice__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.practice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 479.98px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 992.98px) {
  .practice__column {
    padding: 0 10px;
  }
}
.practice__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.item-practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-practice__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 25px 50px 30px;
}
@media (max-width: 992.98px) {
  .item-practice__text {
    padding: 25px 20px 30px 25px;
  }
}
.item-practice__text_title {
  height: 25%;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 992.98px) {
  .item-practice__text_title {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .item-practice__text_title {
    font-size: 16px;
    margin: 0px 0px 25px 0px;
  }
}
.item-practice__text_subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0px 0px 15px 0px;
}
@media (max-width: 992.98px) {
  .item-practice__text_subtitle {
    font-size: 12px;
    margin: 0;
  }
}
.item-practice__image img {
  width: 100%;
}

.who {
  background-color: #fff;
  padding: 100px 0px 136px 0px;
}
@media (max-width: 992.98px) {
  .who {
    padding: 50px 0px 80px 0px;
  }
}
@media (max-width: 767.98px) {
  .who {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 479.98px) {
  .who {
    padding: 50px 0px 40px 0px;
  }
}
.who__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .who__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.who__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 60px 0 0 0;
}
@media (max-width: 1058px) {
  .who__column {
    margin: 30px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .who__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.who__imageblock {
  margin: 0px 0px 0px -15px;
}
@media (max-width: 767.98px) {
  .who__imageblock {
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 992.98px) {
  .who__imageblock img {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
  }
}
.who__columnblock {
  padding: 20px 0px 0px 120px;
}
@media (max-width: 1058px) {
  .who__columnblock {
    padding: 20px 0 0 80px;
  }
}
@media (max-width: 992.98px) {
  .who__columnblock {
    padding: 0px 0 0 30px;
  }
}
@media (max-width: 767.98px) {
  .who__text {
    max-width: 600px;
  }
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 992.98px) {
  .list__item {
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 767.98px) {
  .list__item {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 479.98px) {
  .list__item {
    max-width: 250px;
  }
}
.list__item__text {
  padding: 0px 0px 0px 20px;
}
@media (max-width: 479.98px) {
  .list__item__text {
    margin: -10px 0 0px 0;
  }
}
.list__item_title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
@media (max-width: 992.98px) {
  .list__item_title {
    font-size: 14px;
  }
}
@media (max-width: 992.98px) {
  .list__item_title {
    font-size: 16px;
  }
}
@media (max-width: 479.98px) {
  .list__item_title {
    font-size: 14px;
  }
}
.list__item_subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
@media (max-width: 767.98px) {
  .list__item_subtitle {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .list__item_subtitle {
    font-size: 14px;
  }
}

.hright__title {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
@media (max-width: 1058px) {
  .hright__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 992.98px) {
  .hright__title {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 767.98px) {
  .hright__title {
    font-size: 28px;
    margin: 20px 0px 25px 0px;
  }
}
@media (max-width: 479.98px) {
  .hright__title {
    font-size: 22px;
    margin: 0 0 15px 0;
  }
}

.hright__text {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 10px 0px 50px 0px;
}
@media (max-width: 1058px) {
  .hright__text {
    font-size: 14px;
  }
}
@media (max-width: 992.98px) {
  .hright__text {
    font-size: 13px;
    margin: 10px 0px 20px 0px;
  }
}
@media (max-width: 767.98px) {
  .hright__text {
    font-size: 14px;
  }
}
@media (max-width: 479.98px) {
  .hright__text {
    font-size: 13px;
    margin: 10px 0px 40px 0px;
  }
}

.partners__container {
  padding: 50px 0px 138px 0;
}
@media (max-width: 767.98px) {
  .partners__container {
    padding: 50px 0px 80px 0px;
  }
}
.partners__icons {
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .partners__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .partners__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    text-align: center;
    margin: 10px 0px 20px 0px;
  }
}
@media (max-width: 992.98px) {
  .partners__icon img {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 479.98px) {
  .partners__icon img {
    height: 45px;
    width: 45px;
  }
}
.partners__block {
  height: 77px;
  background-color: #252B42;
}
@media (max-width: 479.98px) {
  .partners__block {
    height: 150px;
  }
}

@media (max-width: 767.98px) {
  .icon--w {
    margin: -30px 0 0 0;
  }
}

.partners__subscribe {
  padding: 0px 20px;
}

.subscribe__body {
  margin: -150px 0 36px 0;
  padding: 30px 50px;
  background-color: #17213C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .subscribe__body {
    padding: 25px 40px;
  }
}
@media (max-width: 617px) {
  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .subscribe__body {
    margin: -230px 0 36px 0;
  }
}
.subscribe__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 0px 10px 0px 0px;
}
@media (max-width: 767.98px) {
  .subscribe__title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 617px) {
  .subscribe__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
    line-height: 20px;
  }
}
.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  padding: 0 28px;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  color: #737373;
  border-right: 0;
}
@media (max-width: 767.98px) {
  .subscribe__input {
    min-height: 40px;
  }
}
@media (max-width: 479.98px) {
  .subscribe__input {
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    text-align: center;
  }
}

.form__button {
  background-color: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  padding: 0px 22px;
}
@media (max-width: 767.98px) {
  .form__button {
    min-height: 40px;
  }
}
@media (max-width: 479.98px) {
  .form__button {
    border-radius: 5px;
    min-width: 223px;
  }
}

.touch {
  margin: 80px 0px 178px 0px;
}
@media (max-width: 767.98px) {
  .touch {
    margin: 80px 0px 120px 0px;
  }
}
@media (max-width: 479.98px) {
  .touch {
    margin: 60px 0px 100px 0px;
  }
}
.touch__container {
  padding: 0 30px;
}
@media (max-width: 479.98px) {
  .touch__container {
    padding: 0;
  }
}
.touch__body {
  margin: 110px 0 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1060px) {
  .touch__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .touch__body {
    margin: 70px 0 0 0;
  }
}
.touch__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  padding: 50px 53px;
  background-color: #fff;
}
@media (max-width: 1060px) {
  .touch__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 auto;
  }
}
@media (max-width: 479.98px) {
  .touch__column {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.touch__column:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #252B42;
}
.touch__column:hover .touch__item--icon svg {
  fill: white;
}
.touch__column:hover .touch__item--text {
  color: #fff;
}
.touch__column:hover .touch__item--emails {
  color: #fff;
}
.touch__item--icon svg {
  fill: #0D5C63;
}
.touch__item--text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  margin: 0px 0px 25px 0;
}
.touch__item-button {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FF7B47;
  padding: 10px 10px;
  border: 1px solid #FF7B47;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.touch__item--emails {
  margin: 15px 0px;
}
.touch__item--email {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}

.touch--green {
  background-color: #252B42;
  color: #fff;
}

.touch--green .touch__item-button {
  color: #fff;
  border: 1px solid #fff;
}

.contactus {
  background-color: #fff;
  padding: 42px 0px;
}
.contactus_btn {
  min-height: 58px;
  background-color: #ff7b47;
  border-radius: 5px;
  padding: 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.contactus_btn:hover {
  background-color: #ab5330;
}
@media (min-width: 767px) {
  .contactus__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contactus__content {
  padding: 0px 20px 0 0;
  margin: 0px 0px 20px 0px;
}
.contactus__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 133%;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}
.contactus__text {
  color: #737373;
  line-height: 142%;
}

.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}

.footer__top {
  background: #17213C;
  padding: 40px 0;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}
.footer__column {
  padding: 20px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
}
.footer__label {
  color: #fff;
  font-weight: 700;
  font-style: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}
.footer__container {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.footer__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767.98px) {
  .footer__text {
    padding: 0px 10px 0px 10px;
  }
}
.footer__text:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #ff2400;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 998px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 700px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0px;
}

.menu-footer__link {
  display: inline-block;
  line-height: 142%;
  color: #fff;
  letter-spacing: 0.2px;
  position: relative;
}
.menu-footer__link:hover {
  text-transform: uppercase;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-footer__item {
  line-height: 171%;
  padding: 0 0 0 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
}
.contacts-footer__item_phone {
  background: url("../../img/icons/Number.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
  background: url("../../img/icons/Location.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
  background: url("../../img/icons/Email.svg") 0 0 no-repeat;
}

.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.social-item {
  margin: 0px 20px 0px 0px;
}