//<МИКСИНЫ>======================================================================================
@mixin anim($time,$delay){transition: all $time ease $delay;}
//<МИКСИНЫ>======================================================================================

//<ПОДКЛЮЧАЕМ ШРИФТЫ>============================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
//<ПОДКЛЮЧАЕМ ШРИФТЫ>============================================================================


//<Шрифт по умолчанию>===========================================================================
$font-family: "Montserrat";
//<Шрифт по умолчанию>===========================================================================


//<ПЕРЕМЕННЫЕ>===================================================================================
$minwidth:320;
$mw:1046;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//<ПЕРЕМЕННЫЕ>===================================================================================



//<ОБНУЛЕНИЕ>====================================================================================
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:activate{outline: none;}
a:focus, a:activate{outline: none;}
nav,footer,header,aside{display:block;}
html,body{height: 100%;width: 100%; min-width: $minwidth; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,body,button,textarea {font-family: $font-family;}
//input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
//<ОБНУЛЕНИЕ>====================================================================================

._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

//</ОБОЛОЧКА>====================================================================================
.wrapper{min-height: 100%; overflow: hidden;display: flex; flex-direction: column;}
//</ОБОЛОЧКА>====================================================================================


//<ОСНОВНАЯ СЕТКА>===============================================================================
._container{max-width:$mw+px; margin: 0 auto; width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none; padding: 0 10px;}
}
//<ОСНОВНАЯ СЕТКА>===============================================================================
body{
	height: 100%;
	font-family: $font-family;
	color: #252b42;
	line-height: 1;
	font-size: 14px;
	background-color: #FAFAFA;
}
.header {
	padding: 40px 0px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 49;
}
.header__container {
	display: flex;
	max-height: 104px;
	align-items: center;
	@media (max-width:$md3+px){
		justify-content: space-between;
	}
}
._container{
	padding: 0 15px;
	//box-sizing: content-box;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0 0px 0 133px;
	@media (max-width:$md1+px){
		margin: 0 0 0 80px;
	}
	@media (max-width:$md2+px){
		margin: 0 0 0 50px;
	}
}
.menu {
	display: flex;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
	@media (max-width: $md3+px) {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: -110%;
		background-color: #fff;
		z-index: 2;
		padding: 50px 10px 20px 10px;
		overflow: auto;
	}
	@media (max-width: $md3+px){
		display: block;
		padding: 90px 0 0 0;
	}
	&.active{
		@include anim(0.3s,0s);
		left: 0;
	}
}
.menu__list li{
	@media (max-width: $md3+px){
		text-align: center;
	}
}
.menu__icon{
	span{color: #646667;}
	display: none;
	position: relative;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	color: #646667;
	&.active{
		span{
			color: #646667;
			transform: scale(0);
			&:first-child{transform: rotate(-45deg); top: 8px;}
			&:last-child{transform: rotate(45deg); top: 8px;}
		}
	}
	@media (max-width: $md3+px) {
		display: block;
	}
}
.menu__icon span{
	@include anim(0.3s,0s);
	top: 8px;
	left: 0;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #646667;
	&:first-child{top: 0;}
	&:last-child{top:auto; bottom: 0;}
}
.menu__item {
	margin: 0px 21px 0px 0px;
	&:last-child{
		margin: 0;
		@media (max-width: $md3+px){
		margin: 20px 0px 0px 0px;
		}
	}
	@media (max-width: $md3+px){
		margin: 20px 0px 0px 0px;
		font-size: 20px;
	}
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24/14*100%);
	position: relative;
	cursor:pointer;
	line-height: 20px;
	&:after{
		content:'';
		display: block;
		position: absolute;
		left: 50%;
		width: 0;
		height: 2px;
		transform: translateX(-50%);
		background-color: #737373;
		transition: width 0.3s ease-out;
	}
	&:hover:after,&:focus:after{
		width: 100%;
	}
}

.page{
	flex: 1 1 auto;
}
.page {}
.page__mainblock {}
.mainblock {
	position: relative;
}
.mainblock__container {}
.mainblock__body {
	z-index: 2;
	padding: 184px 0 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
	@media (max-width:$md1+px){
		padding: 120px 0 191px 0px;
	}
}
.mainblock__title {
	font-weight: 800;
	font-size: 58px;
	line-height: 137%;
	letter-spacing: 0.2px;
	color: #252B42;
	@media (max-width:$md3+px){
		font-size: 42px;
	}
}
.mainblock__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2px;
	color: #737373;
	margin: 35px 0;
	@media (max-width:$md3+px){
		color: #403e3e;
	}
}
.main-block__buttons {
	display: flex;
	@media (max-width:$md4+px){
		flex-wrap: wrap;
	}
}
.main-block__button {
	@media (max-width:$md4+px){
		&:last-child{
			margin: 10px 0px 0px 0px;
		}
	}
	display: block;
	flex: 0 1 50%;
	width: 187px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
}
.bt_first{
	background: #FF7B47;
	border-radius: 37px;
	color: #fff;
	margin: 0px 10px 0px 0px;
	border: 1px solid #FF7B47;
	&:hover{
		background: none;
		color: #FF7B47;
		@include anim(0.3s,0s);
	}
}
.bt_second {
	color: #0D5C63;
	border: 1px solid #0D5C63;
	border-radius: 37px;
	position: relative;
	&:after{
		content:'';
		width: 0;
		position: absolute;
		@include anim(0.3s,0s);
		height: 100%;
		left: 50%;
		top: 0;
		background-color: #153F43;
		z-index: -1;
		color: #fff;
		border-radius: 37px;
	}
	&:hover{
		@include anim(0.8s,0s);
		color: #fff;
		&:after{
			left: 0;
			width: 100%;
		}
	}
}
.mainblock__image {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	& img{
		@media (max-width:$md4+px){
			opacity: 0.5;
		}
	}
}

@media (max-width: 1300px) {
	.mainblock__image img{
		object-position:right;
	}
}
.page__services {
	margin: -111px 0px 0px 0px;
	position: relative;
	z-index: 5;
}
.services {}
.services__container {}
.services__body {
	display: flex;
	margin: 0 -15px;
	@media (max-width:1200px) {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}
.services__column {
	padding: 0 15px;
	flex: 0 1 33.333%;
	@media (max-width:1200px) {
		flex: 0 1 100%;
		max-width: 340px;
		margin: 0px 0px 20px 0px;
	}
	&:hover{
		.services__item{
			background-color: #0D5C63;
			@include anim(0.8s,0s);
		}
		.item-service__title{
			color: #fff;
		}
		.item-service__text{
			color: #fff;
		}
		.item-service__icon svg{
			fill: #fff;
		}
	}
}
.item-service__icon svg{
	fill: #0D5C63;
}
.services__item {
	z-index: 5;
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0,0,0,0.07);
	background-color: #fff; 
	padding: 35px;
}
.item-service {
	&_green{
		background-color: #0D5C63;
	}
}
.item-service_green .item-service__title{
	color: #fff;
}
.item-service_green .item-service__text{
	color: #fff;
}
.item-service > *:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.item-service__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: #252B42;
}
.item-service__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
}

.design {
	margin: 80px 0 80px 0;
	@media (max-width:$md3+px){
		margin: 40px 0 40px 0;
	}
	@media (max-width: $md4+px) {
		margin: 20px 0 20px 0;
	}
	&__headerblock {
		max-width: 610px;
		margin: 0 auto;
	}
}
.headerblock {
	max-width: 511px;
	margin: 0 auto;
	@media (max-width:$md3+px){
		max-width: 400px;
		margin: 0 auto;
	}
	&__title {
		font-weight: bold;
		font-size: 40px;
		line-height: 57px;
		letter-spacing: 0.2px;
		color: #252B42;
		text-align: center;
		@media (max-width:$md3+px){
			font-size: 32px;
		}
		@media (max-width:$md3+px){
			font-size: 26px;
			line-height: 40px;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #737373;
		margin: 10px 0px 50px 0px;
		@media (max-width:$md2+px){
			font-size: 16px;
		}
		@media (max-width:$md3+px){
			font-size: 13px;
			margin: 10px 0px 30px 0px;
		}
		@media (max-width:$md4+px){
			font-size: 13px;
			margin: 10px 0px 20px 0px;
		}
	}
}
.design {
	&__body {
		display: flex;
		margin: 0 -15px;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		padding: 0 15px;
		flex: 0 1 25%;
		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 100%;
			margin: 0px 0px 20px 0px;
		}
	}
	&__item {
		height: 100%;
		text-align: center;
		box-shadow: 0px 13px 19px rgba(0,0,0,0.07);
		background-color: #fff; 
		padding: 31px;
		margin: 0px auto;
		max-width: 270px;
		@media (max-width: $md4+px) {
		}
	}
}
.item {
	&__block {
		&_icon {}
		&_number {
			font-weight: bold;
			font-size: 40px;
			line-height: 57px;
			letter-spacing: 0.2px;
			color: #252B42;
			@media (max-width: $md4+px) {
				font-size: 32px;
			}
		}
		&_text {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.1px;
			color: #737373;
			@media (max-width: $md2+px) {
				font-size: 14px;
			}
		}
	}
}

.item__block > *:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.practice {
	margin: 125px 0px 80px 0px;
	@media (max-width: $md1+px) {
		margin: 60px 0px 60px 0px;
	}
	@media (max-width: $md2+px) {
		margin: 50px 0px 60px 0px;
	}
	&__container {}
	&__header {
	}
}

.practice {
	&__body {
		display: flex;
		margin: 0 -15px;
		@media (max-width: $md2+px) {
			margin: 0 -10px;
		}
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 1 25%;
		@media (max-width: $md3+px) {
			flex: 0 1 50%;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 100%;
			max-width: 300px;
			margin: 0 auto;
		}
		padding: 0 15px;
		@media (max-width: $md2+px) {
			padding: 0 10px;
		}
	}
	&__item {
		height: 100%;
		box-shadow: 0px 13px 19px rgba(0,0,0,0.07);
		background-color: #fff; 
	}
}
.item-practice {
	display: flex;
	flex-direction: column;
	&__text {
		flex: 1 1 auto;
		padding: 30px 25px 50px 30px;
		@media (max-width: $md2+px) {
			padding: 25px 20px 30px 25px;
		}
		&_title {
			height: 25%;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #252B42;
			margin: 0px 0px 20px 0px;
			@media (max-width: $md2+px) {
				font-size: 14px;
			}
			@media (max-width: $md3+px) {
				font-size: 16px;
				margin: 0px 0px 25px 0px;
			}
		}
		&_subtitle {
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.2px;
			color: #737373;
			margin: 0px 0px 15px 0px;
			@media (max-width: $md2+px) {
				font-size: 12px;
				margin: 0;
			}
		}
	}
	&__image img{
		width: 100%;
	}
}
.who {
	background-color: #fff;
	padding: 100px 0px 136px 0px;
	@media (max-width: $md2+px) {
		padding: 50px 0px 80px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}
	@media (max-width: $md4+px) {
		padding: 50px 0px 40px 0px;
	}
	&__container {}
	&__header {}
	&__body {
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 1 50%;
		margin: 60px 0 0 0;
		@media (max-width: $md1+px) {
			margin: 30px 0 0 0;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}
	&__imageblock{
		margin: 0px 0px 0px -15px;
		@media (max-width: $md3+px) {
			text-align: center;
			margin: 0;
		}
	}
	&__imageblock img{
		@media (max-width: $md2+px) {
			max-height: 100%;
			max-width: 100%;
			margin: 0;
		}
	}
	&__columnblock{
		padding: 20px 0px 0px 120px;
		@media (max-width: $md1+px) {
			padding: 20px 0 0 80px;
		}
		@media (max-width: $md2+px) {
			padding: 0px 0 0 30px;
		}
	}
	&__buttonimage {}
	&__text {
		@media (max-width: $md3+px) {
			max-width: 600px;
		}
	}
	&__list {}
}

.list {
	&__item {
		display: flex;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 10px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: $md4+px) {
			max-width: 250px;
		}
		&__icon img{}
		&__text {
			padding: 0px 0px 0px 20px;
			@media (max-width: $md4+px) {
				margin: -10px 0 0px 0;
			}
		}
		&_title {
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #252B42;
			@media (max-width: $md2+px) {
				font-size: 14px;
			}
			@media (max-width: $md2+px) {
				font-size: 16px;
			}
			@media (max-width: $md4+px) {
				font-size: 14px;
			}
		}
		&_subtitle {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.2px;
			color: #737373;
			@media (max-width: $md3+px) {
				font-size: 12px;
			}
			@media (max-width: $md3+px) {
				font-size: 14px;
			}
		}
	}
}
.hright__title{
	text-align: left;
	font-weight: bold;
	font-size: 40px;
	line-height: 57px;
	letter-spacing: 0.2px;
	color: #252B42;
	@media (max-width: $md1+px) {
		font-size: 30px;
		line-height: 40px;
	}
	@media (max-width: $md2+px) {
		font-size: 22px;
		line-height: 30px;
	}
	@media (max-width: $md3+px) {
		font-size: 28px;
		margin: 20px 0px 25px 0px;
	}
	@media (max-width: $md4+px) {
		font-size: 22px;
		margin: 0 0 15px 0;
	}
}
.hright__text{
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
	margin: 10px 0px 50px 0px;
	@media (max-width: $md1+px) {
		font-size: 14px;
	}
	@media (max-width: $md2+px) {
		font-size: 13px;
		margin: 10px 0px 20px 0px;
	}
	@media (max-width: $md3+px) {
		font-size: 14px;
	}
	@media (max-width: $md4+px) {
		font-size: 13px;
		margin: 10px 0px 40px 0px;
	}
}
.partners {
	&__container {
		padding: 50px 0px 138px 0;
		@media (max-width: $md3+px) {
			padding: 50px 0px 80px 0px;
		}
	}
	&__icons {
		padding: 0px 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}
	&__icon{
		@media (max-width: $md3+px) {
			flex: 0 1 33.333%;
			text-align: center;
			margin: 10px 0px 20px 0px;
		}
	}
	&__icon img{
		@media (max-width: $md2+px) {
			height: 70px;
			width: 70px;
		}
		@media (max-width: $md4+px) {
			height: 45px;
			width: 45px;
		}
	}
	&__block {
		height: 77px; 
		background-color: #252B42;
		@media (max-width: $md4+px) {
			height: 150px;
		}
	}
}
.icon--w{
	@media (max-width: $md3+px) {
		margin: -30px 0 0 0;
	}
}
.partners {
	&__subscribe {
		padding: 0px 20px;
	}
}
.subscribe {
	&__body {
		margin: -150px 0 36px 0;
		padding: 30px 50px;
		background-color: #17213C;
		display: flex;
		border-radius: 2px;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			padding: 25px 40px;
		}
		@media (max-width: 617px) {
			flex-direction: column;
		}
		@media (max-width: $md4+px) {
			margin: -230px 0 36px 0;
		}
	}
	&__title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;
		color: #FFFFFF;
		margin: 0px 10px 0px 0px;
		@media (max-width: $md3+px) {
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: 617px) {
			text-align: center;
			margin: 0px 0px 20px 0px;
			line-height: 20px;
		}
	}
	&__form {
		flex: 0 1 50%;
		display: flex;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}
	&__input {
		flex: 1 1 auto;
		min-height: 58px;
		padding: 0 28px;
		border: 1px solid #e6e6e6;
		box-sizing: border-box;
		border-radius: 5px 0 0 5px;
		color: #737373;
		border-right: 0;
		@media (max-width: $md3+px) {
			min-height: 40px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
			border-radius: 5px;
			text-align: center;
		}
	}
}
.form {
	&__button {
		background-color: #ff7b47;
		border: 1px solid #e6e6e6;
		border-radius: 0px 5px 5px 0px;
		display: flex;
		min-height: 58px;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		padding: 0px 22px;
		@media (max-width: $md3+px) {
			min-height: 40px;
		}
		@media (max-width: $md4+px) {
			border-radius: 5px;
			min-width: 223px;
		}
	}
}
.touch {
	margin: 80px 0px 178px 0px;
	@media (max-width: $md3+px) {
		margin: 80px 0px 120px 0px;
	}
	@media (max-width: $md4+px) {
		margin: 60px 0px 100px 0px;
	}
	&__container {
		padding: 0 30px;
		@media (max-width: $md4+px) {
		 padding: 0;
		}
	}
	&__headerblock {
	}
	&__body {
		margin: 110px 0 0px 0px;
		display: flex;
		@media (max-width: 1060px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			margin: 70px 0 0 0;
		}
	}
	&__column {
		flex: 0 1 33.333%;
		text-align: center;
		padding: 50px 53px;
		background-color: #fff;
		@media (max-width: 1060px) {
			flex: 0 1 50%;
			margin: 0 auto;
		}
		@media (max-width: $md4+px) {
			width: 100%;
			flex: 1 1 100%;
		}
		&:hover{
			@include anim(0.8s,0s);
			background-color: #252B42;
		   .touch__item--icon svg{
				fill: white;
			}
			.touch__item--text{
				color: #fff;
			}
			.touch__item--emails{
				color:#fff;
			}
		}
	}
	&__item {
	}
	&__item--icon svg{
		fill: #0D5C63;
	}
	&__item--text {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.1px;
		margin: 0px 0px 25px 0;
	}
	&__item-button {
		font-weight: 600;
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #FF7B47;
		padding: 10px 10px;
		border: 1px solid #FF7B47;
		box-sizing: border-box;
		border-radius: 5px;
	}
}

.touch {
	&__item--emails {
		margin: 15px 0px;
	}
	&__item--email {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.2px;
	}
}
.touch--green{
	background-color: #252B42;
	color: #fff;
}
.touch--green .touch__item-button{
	color: #fff;
	border: 1px solid #fff;
}
.headerblock {
	&__title {}
	&__text {}
}
.contactus {
	background-color: #fff;
	padding: 42px 0px;
	&_btn {
		min-height: 58px;
		background-color: #ff7b47;
		border-radius: 5px;
		padding: 5px 40px;
		display: flex;
		transition: background-color 0.3s ease 0s;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		&:hover{
			background-color: #ab5330;
		}
	}
	&__container {}
	&__body {
		@media (min-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__content {
		padding: 0px 20px 0 0;
		margin: 0px 0px 20px 0px;
	}
	&__title {
		font-weight: 700;
		letter-spacing: 0.1px;
		line-height: 133%;
		font-size: 24px;
		margin: 0px 0px 10px 0px;
	}
	&__text {
		color: #737373;
		line-height: 142%;
	}
}
.footer__column:last-child{
		flex: 0 1 33.334%;
	}
.footer {
	&__top {
		background: #17213C;
		padding: 40px 0;
	}
	&__main {
	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;	
	}
	&__column {
		padding: 20px 15px;
		flex: 0 1 16.667%;
	}
	&__label {
		color: #fff;
		font-weight: 700;
		font-style: 16px;
		line-height: 150%;
		margin: 0px 0px 20px 0px;
	}
	&__menu {}
	&__list {}
	&__contacts {}
	&__bottom {}
	&__container {
		padding: 25px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}
	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		letter-spacing: 0.2px;
		color: #737373;
		margin: 0px 0px 10px 0px;
		@media (max-width: $md3+px) {
			padding: 0px 10px 0px 10px;
		}
		&:hover{
			@include anim(0.8s, 0s);
			color: #ff2400;
		}
	}
	&__social {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 998px) {
	.footer__column{
		flex: 0 1 25%;
	}	
	.footer__column:last-child{
		flex: 0 1 100%;
	}
}
@media (max-width: 700px) {
	.footer__column{
		flex: 0 1 50%;
	}	
}
.menu-footer__item{
}
.menu-footer__item:not(:last-child){
	margin: 0 0 10px 0px;
}
.menu-footer {
	&__link {
		display: inline-block;
		line-height: 142%;
		color: #fff;
		letter-spacing: 0.2px;
		position: relative;
		&:hover{
			text-transform: uppercase;
		}
	}
}
.contacts-footer {
	display: flex;
	flex-direction: column;
	&__item{
		line-height: 171%;
		padding: 0 0 0 34px;
		display: flex;
		color: #fff;
		align-items: center;
		min-height: 30px;
		&_phone {
			background: url('../../img/icons/Number.svg') 0 0 no-repeat;
		}
		&_map {
			background: url('../../img/icons/Location.svg') 0 0 no-repeat;
		}
		&_email {
			background: url('../../img/icons/Email.svg') 0 0 no-repeat;
		}
	}
}
.contacts-footer__item:not(:last-child){
	margin: 0 0 12px 0;
}
.contacts-footer__item:hover{
	text-decoration: underline;
}
.social-item{
	margin: 0px 20px 0px 0px;
}
footer{
}




